body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#e5a9f5;
}
.message{
 
    width: 500px;
    height: 450px;
    
}
marquee{
    height: 350px;
}
p{
    font-family:'Brush Script MT', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    color:black;
}
span{
    font-family:  'Cheri';
    font-size: 35px;
    color: red;
    text-decoration:underline;
    text-decoration-color:black;
}
.heart{
    font-size: 60px;
}