.animation{
    background-color: red;
    width: 500px;
    height: 500px;
    animation: ani  2s linear infinite;
    border-radius: 50%;
  

}
@keyframes ani {
    100%{
       rotate:360deg;
       background-color: black;
    }
    
}
